* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.box{
  /* width: 40px; */
  /* height: 100px; */
}

.boxes{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  height: 100vh;
  padding: 50px;
}

.box{
  border: 1px solid;
}
